#chartdiv {
	width: 100%;
	height: 100%;
}

.qv-object-amColuna div.qv-object-content-container {
	overflow: auto;
}
.qv-object-amColuna td,
.qv-object-amColuna th {
	border-top: 0px solid #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: default;
	font-size: 12px;
}
.qv-object-amColuna td.numeric {
	text-align: right;
}
.qv-object-amColuna button {
	width: 100%;
}
